
//color:
$strong_green : #00c193;
$light_green : #63ffd4;
$strong_grey : #b9b9b9;
$light_grey : #f1f1f1;
$purple : #5f24ed;
$red : #ff7272;
$player_grey : #4c4c4d;
$nav_gradiant: linear-gradient(#ffffff, #e7e4ff);
$input_validation : #b3ff2d;

//opacity:
$circle14 : 0.14;
$white22 : 0.22;
$purple41 : 0.41;


// Font:
$font_family : 'Roboto', sans-serif;
$h1 : 1.5em;
$h2 : 1.5em;
$h3 : 1.5em;
$h4 : 0.9em;
$btn : 1em;
$link_account : 0.9em;
$label_input : 0.9em;
$error : 0.8em;
$player_time : 0.9em;
$ul : 1.1em;
$p_text : 1em;
$regular : 400;
$medium: 500;
$bold: 700;
