@import './variables';

/////////////////light mode
  


$textLight: #521765;
$errorTxtdark: #D2A800;
$textDark: white;
$errorTxtLight: #FF0077;


:root {
    
  
  --color-text: #{$textDark};
  --textError : #{$errorTxtdark};
  

}

.dark {
 
  --color-text: #{$textDark};
  --textError : #{$errorTxtdark};
  
}

.light {
  
  --color-text: #{$textLight};
  --textError: #{$errorTxtLight};
 
 

}
  

////////////////////////////




body{
    //enlève la barre de défilement
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    color: var(--color-text);
    font-size: 17px;
    margin: 0;
    
    h3{
        //permet de mettre le titre devant l'img background qui est en absolute
        position: relative;
        text-align: center;
        margin-top: 60px;
        margin-bottom: 30%;
        font-size: 1.550em;
        
    }
    #messError{
        position: relative;
        color : $errorInput;
        text-align: center;
    }
    
    label{
        font-weight: bold;
    }
    
    input{
        color: var(--color-text);
        background : transparent;
        //enlève les bordures gauche haut et droit
        border-top: hidden;
        border-left: hidden;
        border-right: hidden;
        //enlève l'encadrement de l'input
        outline: none;
        width: 180px;
        font-size: 17px;
        margin-bottom: 0px;
        border-color: var(--color-text);
    }
    
}

.img{
    //pour passer l'img background en arrière plan
    position: absolute;
    width: 100%;
    top: 0;
    left: -20px;
    }

   

.container{
    position: relative;
    width: 50%;
    margin: auto;
    }

// création d'un bloc de propriété
%styleBtn {
    font-weight: bold;
    text-decoration: none;
    color: $regularInput;
    display: block;
    margin-top: 40px;
}

//BOUTON DONE
.btnDone{
    //appel du bloc de propriété
    @extend %styleBtn;
    border: hidden;
    background-color: $buttonForm;
    width: 50%;
    padding: 10px 10px;
    border-radius: 0 10px;
}

//div pour centrer le bouton sur l'écran
.cntrDone{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

//LIEN POUR LE COMPTE
.btnCompte{
    //appel du bloc de propriété
    @extend %styleBtn;  
    text-align: center;
    color: var(--color-text);
}

.error{
    color: var(--textError);
    display: none;
    margin: 0;
}

#trait{
    border-top: 2px var(--color-text) solid;
    width: 20%;
    position: absolute;
    right: 10px;
}
